<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="ToDoApp" packages="">

    <Appenders>

        <!--change local path here-->
        <RollingFile name="Service" fileName="/toDoLogs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

        <!--change local path here-->
        <RollingFile name="Servlet" fileName="/toDoLogs/web.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

        <!--change local path here-->
        <RollingFile name="Repository" fileName="/toDoLogs/repo.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

        <!--change local path here-->
        <RollingFile name="ErrorFile" fileName="/toDoLogs/error.log"
                     filePattern="logs/error-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.javarush.todoapp.services" level="ALL">
            <AppenderRef ref="Service"/>
        </Logger>
        <Logger name ="com/javarush/todoapp/AppContextListener.java" level="All">
            <AppenderRef ref="Service"/>
        </Logger>
        <Logger name ="com/javarush/todoapp/DbConfiguration.java" level="All">
            <AppenderRef ref="Service"/>
        </Logger>
        <Logger name ="com/javarush/todoapp/LiquibaseConnect.java" level="All">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="com/javarush/todoapp/repositories" level="ALL">
            <AppenderRef ref="Repository"/>
        </Logger>

        <Logger name="com.javarush.todoapp.servlets" level="ALL" >
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="ErrorFile"/>
        </Root>

    </Loggers>
</Configuration>
