:root {
    --colorRed: #700000;
    --colorDark: #21465C;
    --colorMid: #3D81A8;
    --colorLight: #95C5E1;
}

.colorText {
    color: var(--colorDark);
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Special Elite', cursive;
}

header {
    padding: 70px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #dddddd;
}
.task-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}